<div id="<%= dom_id order_row %>">
  <td>
    <%= order_row.order_id %>
  </td>

  <td>
    <%= order_row.order.user.username %>
  </td>

  <td>
    <%= order_row.product.name %>
  </td>

  <td>
    <%= order_row.quantity %>
  </td>

  <td>
    <%= link_to "Show this order row", order_row %>
  </td>

</div>
