<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<%= link_to "New product", new_product_path %>

<div id="products">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
      <th>Warehouse</th>
      <th>Action</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>

        <td>
          <%= product.name %>
        </td>

        <td>
          <%= product.description %>
        </td>

        <td>
          <%= product.price %>
        </td>
        <td>
          <ul>
            <% product.warehouse.each do |w| %>
              <li><%= w.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to "Show this product", product %>
        </td>
      </tr>
    <% end %>
  </table>
</div>


