<p style="color: green"><%= notice %></p>

<h1>Product locations</h1>

<%= link_to "New product location", new_product_location_path %>

<div id="product_locations">
  <table class="table">
      <tr>
        <th>Product</th>
        <th>Warehouse</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    <% @product_locations.each do |product_location| %>
      <tr>
        <td>
          <%= product_location.product.name %>
        </td>

        <td>
          <%= product_location.warehouse.name %>
        </td>

        <td>
          <%= product_location.quantity %>
        </td>
        <td>
          <%= link_to "Show this product location", product_location %>
        </td>
      </tr>
    <% end %>
  </table>
</div>


