<p style="color: green"><%= notice %></p>

<%= render @product_location %>

<div>
  <%= link_to "Edit this product location", edit_product_location_path(@product_location) %> |
  <%= link_to "Back to product locations", product_locations_path %>

  <%= button_to "Destroy this product location", @product_location, method: :delete %>
</div>
