<p style="color: green"><%= notice %></p>

<h1>Warehouses</h1>

<%= link_to "New warehouse", new_warehouse_path %>

<div id="warehouses">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td>
          <%= warehouse.name %>
        </td>

        <td>
          <%= warehouse.address %>
        </td>
        <td>
          <%= link_to "Show this warehouse", warehouse %>
        </td>
      </tr>
    <% end %>
  </table>
</div>


