<nav class="navbar bg-light">
    <div style="background-color: #F8F9FA; margin-top: 10px; height: 30px">
        <a style="vertical-align: middle; margin: 10px" href="<%= users_path %>">Users</a>
        <a style="vertical-align: middle; margin: 10px" href="<%= products_path %>">Products</a>
        <a style="vertical-align: middle; margin: 10px" href="<%= warehouses_path %>">Warehouses</a>
        <a style="vertical-align: middle; margin: 10px" href="<%= orders_path %>">Orders</a>
        <a style="vertical-align: middle; margin: 10px" href="<%= reviews_path %>">Reviews</a>
    </div>
</nav>